<div class="row">
    <div class="col">
        <h2 class="mb-3">
            Daftar Akun Induk
        </h2>
        <a href="/parent-account/add" class="btn btn-secondary btn-sm mb-3" onmouseover="btnWarningHandler(this)" onmouseout="btnSecondaryHandler(this)">Tambah Data</a>

        <% if (msg.length !==0) { %>
            <div class="alert <%= typeAlert %>  alert-dismissible fade show" role="alert">
                <%= msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <table class="table table-hover">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th scope="col">Nama Akun Induk</th>
                    <th scope="col" class="text-center" style="min-width: 73px;">No. Akun</th>
                    <th scope="col" class="text-center">Saldo Normal</th>
                    <th scope="col" class="text-center">Tipe Akun</th>
                    <th scope="col" class="text-end" style="padding-right: 16px; min-width: 118px;">Action</th>
                </tr>
            </thead>
            <tbody class="small">
                <% if (parentAccs.length===0) { %>
                    <tr>
                        <td colspan="6">data masih kosong</td>
                    </tr>
                <% } %>
                <% parentAccs.forEach((parentAcc,i)=> { %>
                    <% const { _id, accName, accCode, accBalance, accType }=parentAcc %>
                    <tr>
                        <th scope="row">
                            <%=i+1%>
                        </th>
                        <td>
                            <%= accName %>
                        </td>
                        <td class="text-center fw-light">
                            <%= accCode %>
                        </td>
                        <td class="text-center fw-light">
                            <% if (accBalance==='d' ) { %>
                                Debet
                            <% } else {%>
                                Kredit
                            <% }%>
                        </td>
                        <td class="fw-light text-center">
                            <% const accTypeDisplay=accTypes.find(type=> type._id == accType) %>
                            <i>
                                (<%= accTypeDisplay.typeName %>)
                            </i>
                        </td>
                        <td class="text-end" style="padding-right: 16px;">
                            <form action="/parent-account?_method=DELETE" method="POST" class="d-inline">
                                <input type="hidden" name="_id" value="<%= _id %>">
                                <button type="submit" class="btn btn-danger badge" onclick="return confirm('yakin ingin menghapus data?')">
                                    Hapus
                                </button>
                            </form>
                            <a href="/parent-account/edit/<%= accName %>" class="btn btn-success badge">
                                Ubah
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>